$def with (form)
<div class="row">
    <form class="large-8 large-centered columns" action="/login" method="post">
        <h1>$_("Login")</h1>

        $:form.render_css()

        $if not flash.is_empty():
            <div class="alert-box alert">
                $:flash.render()
            </div>

        $if not form.valid:
            $:form.render_errors()

        <div class="row">
            <div class="large-6 columns">
                <p><a href="/password_reset">$_("Reset forgotten password")</a></p>
            </div>
            <div class="large-6 columns">
                <button class="right button" type="submit">$_("Log in")</button>
            </div>
        </div>
    </form>
</div>
