<script type="text/template" id="page-code-form-template">
    <form>
        <p>
        <label>$_("CSS code")</label>
        <textarea data-mode="css" name="css_code" rows="10"><%= page.css_code || "" %></textarea>
        </p>
        <p>
        <label>$_("JS code")</label>
        <textarea data-mode="javascript" name="js_code" rows="10"><%= page.js_code || "" %></textarea>
        </p>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="page-form-template">
    <form>
        <label>$_("Title")</label>
        <input name="title" type="text" value="<%= page.title || "" %>">
        <label>$_("Name")</label>
        <input name="name" type="text" value="<%= page.name || "" %>">
        <% if (!page.is_system) { %>
            <p>
                <label>$_("Parent")</label>
                <select name="parent_id">
                <% _.each(pagesList, function(p) { %>
                    <option <%= p.selected %> <%= p.disabled %>
                            value="<%= p.id %>"><%= p.name %></option>
                <% }); %>
                </select>
            </p>
            <label>$_("Slug")</label>
            <input name="slug" type="text" value="<%= page.slug || "" %>">
        <% };%>
        <p>
            <label><input <%= page.is_published && "checked" || "" %> type="checkbox" name="is_published">$_("Show on site")</label>
        </p>
        <p>
            <label><input <%= (page.is_navigatable || !hasModel) && "checked" || "" %> type="checkbox" name="is_navigatable">$_("Show in navigation")</label>
        </p>
        <div class="js-alert"></div>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
  
<script type="text/template" id="page-sort-subpages-template">
    <h3>$_("Sort subpages")</h3>
    <ul class="sg-sort-subpages js-sort-subpages">
        <% _.each(pagesList, function(p) { %>
            <li data-id="<%= p.id %>" data-position="p.position">
                <i class="js-handle sg-sort-subpages-handle sg-ico-handle"></i>
                <%= p.name %>
            </li>
        <% }); %>
    </ul>
</script>

