$def with(json_data)

$var title = ctx.page.title
$var meta_description = ctx.page.meta_description
$var meta_keywords = ctx.page.meta_keywords
$var js_code = ctx.page.js_code
$var css_code = ctx.page.css_code

$if not "page_block" in json_data:
    $:render_block(ctx.page_block)
$else:
    <script>
        var sgData = sgData || {};
        sgData.pageBlock = $:json_data.page_block;
        sgData.templateBlocks = $:json_data.template_blocks;
    </script>

<script>
    var sgData = sgData || {};
    sgData.page = $:json_data.page;
    sgData.pages = $:json_data.pages;
</script>
