$def with(pages)
$code:
    pages = list(pages)
    root = None
    for p in pages:
        if p.level == 0 and p.parent_id is None:
            root = p
            break
$def render_page(page, pages):
    <a data-id="$page.id" href="$page.path" class="page-link">$page.name</a>
    $code:
        subpages = [p for p in pages if p.parent_id == page.id]
    $if subpages:
        <ul>
        $for p in subpages:
            <li>$:render_page(p, pages)</li>
        </ul>
<div class="row">
    <div class="large-8 columns">
        <h1>$_("Site map")</h1>
        <div class="sitemap">
            $:render_page(root, pages)
        </div>
    </div>
</div>
