<div class="ui-insert" data-role="admin,editor">
    <div class="ui-insert-menu">
        $if ctx.session.get("buffer"):
            <a class="ui-insert-default js-paste-block" href="#">$_("Paste")</a>
        <a class="ui-insert-default js-insert-block" data-template="richtext" href="#">$_("Insert text")</a>
        <div class="ui-insert-menu-item">
            <span class="ui-icon ui-icon-edzo-menu"></span>
            <ul class="ui-contextmenu ui-state-default">
                <li class="ui-contextmenu-item"><span>$_("Navigation") →</span>
                    <ul class="ui-contextmenu">
                    $for t in ("navigation", "subnavigation", "siblingsnavigation", "breadcrumbs"):
                        <li class="ui-contextmenu-item">
                            <a class="js-insert-block" data-template="$t" href="#" >$_(config.labels[t])</a>
                        </li>
                    </ul>
                </li>
                <li class="ui-contextmenu-item">
                    <li class="ui-contextmenu-item">
                        <a class="js-insert-block" data-template="htmlcode" href="#" >$_(config.labels["htmlcode"])</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="ui-insert-line"></div>
</div>
