$def with(page=None)
<nav class="ui-fixed-menu">
    <div class="ui-toolbar-item" data-role="editor,admin">
        $if page:
            <a href="$page.path" title="$_("Page")"><span class="ui-icon ui-icon-edzo-page"></span></a>
        $else:
            <span class="ui-icon ui-icon-edzo-page"></span>
        <ul class="ui-contextmenu">
        $if page:
            <li class="ui-contextmenu-item"><a href="$link_to("pages",page,"edit")">$_("Page properties")</a></li>
            <li class="ui-contextmenu-separator"></li>
            <li class="ui-contextmenu-item"><a href="$link_to("pages",page,"edit_code")">$_("Style and scripts")</a></li>
            <li class="ui-contextmenu-item"><a href="$link_to("pages",page)">$_("Page tree")</a></li>
            <li class="ui-contextmenu-separator"></li>
            <li class="ui-contextmenu-item"><a href="/a/pages/new?page_id=$page.id">$_("Create page")</a></li>
        $else:
            <li class="ui-contextmenu-item"><a href="/a/pages/new">$_("Create page")</a></li>

        <li class="ui-contextmenu-item"><a href="/a/sitemap">$_("Site map")</a></li>

        $if page:
            <li class="ui-contextmenu-separator"></li>
            <li class="ui-contextmenu-item"><a onclick="return confirm('$_("Are you sure to delete this page and its subpages?")');" href="$link_to("pages",page,"delete")">$_("Delete this page")</a></li>
        </ul>
    </div>
    <a class="ui-toolbar-item" href="/a/documents" title="$_("Storage")"><span class="ui-icon ui-icon-edzo-storage"></span></a>
    <div class="ui-toolbar-item">
        <span class="ui-icon ui-icon-edzo-user"></span>
        <ul class="ui-contextmenu ui-corner-all">
            <li data-role="admin" class="ui-contextmenu-item"><a href="$link_to("users",auth.get_user(),"edit")">$auth.get_user().title</a></li>
            <li data-role="admin" class="ui-contextmenu-item"><a href="/a/users">$_("User accounts")</a></li>
            <li data-role="admin" class="ui-contextmenu-separator"></li>
            <li class="ui-contextmenu-item"><a href="/logout">$_("Logout")</a></li>
        </ul>
    </div>
</nav>
