<!--- container to hold notifications, and default templates -->
<div id="notify" style="display:none">
	<div id="notify-default" class="ui-widget-content">
		<a class="ui-notify-close" href="#"><span class="ui-icon ui-icon-close"></span></a>
		<h1>#{title}</h1>
		<p>#{text}</p>
	</div>
	<div id="notify-progress" class="ui-widget-content">
	    <span class="ui-icon ui-icon-edzo-progress ui-notify-icon"></span>
		<h1>#{title}</h1>
		<p>#{text}</p>
	</div>
	<div id="notify-error" class="ui-state-error ui-widget-content">
		<a class="ui-notify-close" href="#"><span class="ui-icon ui-icon-close"></span></a>
		<span class="ui-icon ui-icon-edzo-alert ui-notify-icon"></span>
		<h1>#{title}</h1>
		<p>#{text}</p>
	</div>
</div>