
$leftPagePadding: 120px !default;
$rightPagePadding: 20px !default;
$maxPageWidth: 1400px;

.row {
  width: auto;
  min-width: $screenSmall - $leftPagePadding - $rightPagePadding;
}

.page, .index_page {
  margin: auto;
  max-width: $maxPageWidth;
  padding: 0 $rightPagePadding 0 $leftPagePadding;
}

.pullout {
  margin-right: #{- $rightPagePadding - $columnGutter / 2};
  margin-left: #{- $leftPagePadding - $columnGutter / 2};
}

.padin {
  padding-right: #{$rightPagePadding + $columnGutter / 2};
  padding-left: #{$leftPagePadding + $columnGutter / 2};
}

@include respondTo(smallScreen) {

  .pullout {
    margin: 0 #{- $columnGutter / 2};
  }

  .padin {
    padding-right: $columnGutter / 2;
    padding-left: $columnGutter / 2;
  }

  .page, .index_page {
    padding: 0;
    overflow: visible;
  }

  .row {
    min-width: 0;
  }

}

.pullup {
  position: relative;
  top: - ms(4);
  margin-bottom: - ms(4);
}

.okb-panel {
  @extend %cf;
  padding: ms(1) 20px 0;
  position: relative;
  z-index: 2;
  @include border-radius(10px);
  @include border-top-right-radius(0);
  *:first-child {
    margin-top: 0;
  };
  background-color: $grey05;
  margin-bottom: ms(1);
}

.blue.okb-panel {
  background: $mainColor;
  color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  a {
  }
}


