
.sg-padtop {
  @extend %clearfix;
  padding-top: emCalc(20);
  > *:first-child {
    margin-top: 0
  };
  position: relative;
}

.sg-box {
  @extend .sg-padtop;
  padding-left: emCalc(20);
  padding-right: emCalc(20);
}

.sg-rounded {
  @include border-radius(10px);
}

.sg-grey {
  background-color: $greyBackgroundColor;
}

.sg-blue {
  background-color: $blueBackgroundColor;
}
