.nav-breadcrumbs ul {
  @extend .small;
  margin: 0;
  > li {
    display: inline;
    &:before {
      content: " → "
    };
    &:first-child:before {
      display: none
    }
  }
}

.nav-breadcrumbs_trimmed ul {
  > li.active {
    @extend %image-replacement;
  }
}
