.nav-breadcrumbs ul {
  margin: 0 0 ms(1);
  > li {
    @extend .small;
    display: inline;
    @extend %sg-ico;
    @extend .sg-ico-arrow-r;
    &:before {
      margin: 0 .5em 0 .4em;
      color: $grey30;
    };
    &:first-child:before {
      display: none
    }
  }
}

.nav-breadcrumbs_trimmed ul {
  > li:last-child {
    @extend .sg-ico-arrow-d;
    > span, a {   display: none; }
  };
}
