
.catalog-categories, .catalog-subcategories {
  margin-left: 0;
  list-style-type: none;
}

.catalog-products {
  margin-bottom: 34px;
  list-style-type: disc;
}

.catalog-subcategories-nav > ul {
  margin-left: 0;
  margin-bottom: 17px;
  @extend %inline-block-list;
  > li {
    margin-right: 20px;
  }
}
