
.nav-root {
  ul {
    margin: 0;
    padding: 10px 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px
  }
  a, span {
    vertical-align: top;
    line-height: 1;
    text-align: center;
    display: inline-block;
    color: #dcc;
    padding: 5px 10px;
    font-weight: bold;
    @include transition(color .2s ease-in-out);
    @include border-radius(6px);
    @include text-shadow(0 -1px rgba(0,0,0,.8));
    &.active, &.active:hover {
      color: $txtColor;
      @include background(linear-gradient(#fff, #ddd));
      @include box-shadow;
      background-color: #fff;
      @include text-shadow(none)
    }
  }
  a:hover {
    color: #fff;
  };
}

