
.nav-root, .nav-secondary {
  .active, .active:hover {
    color: inherit;
  }
  ul {
    @extend %inline-block-list;
    margin-bottom: 0;
  }
}

.nav-root {
  a, span {
    padding: 7px 10px;
  }
  .active {
    background: $greyBackgroundColor;
  }
}

.nav-secondary {
  padding: 7px 0;
  a, span {
    padding: 0 10px;
  }
}

.nav-breadcrumbs ul {
  margin: 0 0 ms(1);
  > li {
    @extend .small;
    display: inline;
    @extend %sg-ico;
    @extend .sg-ico-arrow-r;
    &:before {
      margin: 0 .5em 0 .4em;
      color: $grey30;
    };
    &:first-child:before {
      display: none
    }
  }
}

.nav-breadcrumbs_trimmed ul {
  > li:last-child {
    @extend .sg-ico-arrow-d;
    > span, a {   display: none; }
  };
}
