
.nav-root, .nav-secondary {
  .active, .active:hover {
    color: inherit;
  }
  ul {
    @extend %inline-block-list;
    margin-bottom: 0;
  }
}

.nav-root {
  a, span {
    display: block;
    padding: 7px 10px;
  }
}

.nav-secondary {
  padding: 7px 0;
  a, span {
    display: block;
    padding: 0 10px;
  }
}
