
.okb-box {
  @extend .padtop;
  padding-left: 20px;
  padding-right: 20px;
}

.okb-round {
  @include border-radius(10px);
  @include border-top-right-radius(0);
}

.okb-grey {
  background-color: $greyBackgroundColor;
}

.okb-blue {
  background: $blueBackgroundColor;
}

.okb-important {
  position: relative;
  z-index: 2;
  background: $mainColor;
  color: $white;
  h1, h2, h3, h4, h5, h6 { color: $white; }
}
