
#Compiled modules
*.py[co]

#Translations
*.mo

#Temp and garbage files
._*
*~
.DS_Store
.sass-cache

#Stonegarden
siteconfig.py
upload/*
static/i/*
static/css/*
static/js/*

# Sublime Text 2 project files
*.sublime-project
*.sublime-workspace
