
#Compiled modules
*.py[co]

#Translations
*.mo

#Temp and garbage files
._*
*~
.DS_Store
.sass-cache

templates/scss/_config.scss
templates/scss/_modules.scss
templates/scss/modules

#Stonegarden
siteconfig.py
upload/*
static/static.tar
static/i/*
static/css/*
static/img/sprites/*

# Sublime Text 2 project files
*.sublime-project
*.sublime-workspace
