venv

#Compiled modules
*.py[co]

#Translations
*.mo

# Sqlite database
db.sqlite

#Temp and garbage files
._*
*~
.DS_Store
.sass-cache

#Stonegarden
siteconfig.py
upload/*
static/static.tar
static/i/*
static/css/*.css
static/img/sprites/*

# Sublime Text 2 project files
*.sublime-project
*.sublime-workspace


# Bundler
.bundle
