$def with (page=None)
<!doctype html>
<html lang="$ctx.lang">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>$page.get("title")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="$page.get("meta_description")">
    <meta name="keywords" content="$page.get("meta_keywords")">
    <link rel="shortcut icon" href="$asset_url("img/favicon.ico")"
          type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="$asset_url("css/style.css")">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    $if config.environment == "development":
        <script>var environment = "$config.environment";</script>
    $if auth.get_user():
        <link rel="stylesheet" href="$asset_url("css/admin.css")">
        <script data-main="$asset_url("js/admin_main.js", False)"
                src="$asset_url("vendor/js/require-2.1.1.js")"></script>
        $#TODO: conditional load of required templates
        $:render.site.js_templates()
        $:render.blocks.js_templates()
        $:render.documents.js_templates()
        $:render.pages.js_templates()
    $else:
        <script data-main="$asset_url("js/public_main.js", False)"
                src="$asset_url("vendor/js/require-2.1.1.js")"></script>
    <style>$:page.get("css_code")</style>
</head>
<body class="$page.get("class")">
    $if auth.get_user() and not ctx.get("page"):
        $:render.site.topbar(page)
    $:flash.render()
    $:page
    <script>
        $:page.get("js_code", None)
    </script>
</body>
</html>
