@import "foundation";


figure {
  margin-bottom: ms(1);
}

ul, ol {
  margin-left: 20px;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  p {
    margin-bottom: 0;
  }

  thead {
    background: transparent;
    tr {
      td, th {
        @extend .exposed;
        vertical-align: bottom;
        border-bottom: 1px solid $grey40;
      }
    }
    border-bottom: 2px solid $grey60;
  }

  tbody {
    tr {
      td, th {
        border-bottom: 1px solid $grey40;
      }
    }
    tr:nth-child(even) {
      background: transparent;
    }
    border-bottom: 2px solid $grey60;

  }

  tfoot {
    background: transparent;
    tr {
      td, th {
        @extend .exposed;
      }
    }
  }

  border: 0;
}

header, footer {
  padding-top: ms(1);
  //background: #eee;
}

header {
  margin-bottom: ms(1);
}

footer {
  margin-top: ms(1);
}

nav ul {
  margin-left: 0;
  list-style-type: none;
}
