@import "foundation";

body {
  background: image-url("paper.png");
}


header {
  margin-bottom: 30px;
}

footer {
  margin-top: 50px;
}


ul, ol {
  margin-left: 20px;
}

a:hover {
  text-decoration: underline;
}

table {

  min-width: 100%;
  border-collapse: collapse;
  p {
    margin-bottom: 0;
  }

  background: transparent;

  thead {
    background: transparent;
    tr {
      td, th {
        color: $headerFontColor;
        vertical-align: bottom;
        border-bottom: 1px solid lighten($headerFontColor, 70%);
      }
    }
    border-bottom: 2px solid $headerFontColor;
  }

  tbody {
    background: $white;
    tr {
      td, th {
        border-bottom: 1px solid $bg-grey;
      }
    }
    tr:nth-child(even) {
      background: transparent;
    }
    border-bottom: 2px solid $headerFontColor;

  }

  tfoot {
    background: transparent;
  }

  border: 0;
}
