@import "foundation";


@media only screen and (min-width: $screenSmall) {
  .row {
    width: auto;
    min-width: 768px - 180px;
  }

  .page {
    margin: auto;
    padding: 0 20px 0 160px;
    //max-width: 1400px;
  }

  .pullout {
    margin: 0 -35px 0 -175px;
  }

}


ul, ol {
  margin-left: 20px;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  p {
    margin-bottom: 0;
  }

  thead {
    background: transparent;
    tr {
      td, th {
        @extend .exposed;
        vertical-align: bottom;
        border-bottom: 1px solid $grey40;
      }
    }
    border-bottom: 2px solid $grey60;
  }

  tbody {
    tr {
      td, th {
        border-bottom: 1px solid $grey40;
      }
    }
    tr:nth-child(even) {
      background: transparent;
    }
    border-bottom: 2px solid $grey60;

  }

  tfoot {
    background: transparent;
    tr {
      td, th {
        @extend .exposed;
      }
    }
  }

  border: 0;
}

header, footer {
  padding-top: 20px;
  background: #eee;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

nav ul {
  margin-left: 0;
  list-style-type: none;
}
