$def with(export_date=None)
<section class="row">
    <div class="twelve columns">
        <h1>$_("Export catalog")</h1>
    </div>
    <div class="six columns">
        <p>
            Версия каталога продуции ОКБ-Планета (.tar)<br>
            от <strong>$datify(export_date, u"%d %B %Y года, %H:%M")</strong>
        </p>
        <p>
            <a href="/static/static.tar"
               class="button radius">
                Скачать каталог
            </a>
        </p>
    </div>
    <div class="four columns end">
        <form action="" method="post">
            <p class="small">
                Раздел сайта «Каталог продукции» целиком
                архивируется в файл для скачивания и просмотра
                в браузере без подключения к интернету
            </p>
            <p>
                <button type="submit" class="secondary small button radius">Обновить архив</button>
            </p>
        </form>
    </div>
</section>
