<script type="text/template" id="document-storage-template">
    <div class="row">
        <div class="large-12 columns">
            <div class="left sg-storage-title"><p>Storage</p></div>
            <div class="right">
                <ul class="button-group">
                    <li>
                        <button class="secondary button sg-file-input">
                            $_("Upload")
                            <input type="file" multiple name="upload">
                        </button>
                    </li>
                    <li>
                        <button class="secondary button js-create-folder">
                            $_("New folder")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="large-12 columns sg-document-tiles js-documents"></ul>
    </div>
</script>
<script type="text/template" id="document-loader-template">
    <li class='sg-document-loader'>
        <span class='sg-document-title'>
            <%= filename %>
        </span>
    </li>
</script>
<script type="text/template" id="document-back-template">
    <li class='sg-document-back js-back'>
        <span class="sg-ico-folder"></span>
        <span class="sg-ico-arrow-l"></span>
    </li>
</script>
<script type="text/template" id="document-template">
    <span class="sg-document-title"><%= document.title %></span>
    <% if (document.type === "folder") { %>
        <span class="sg-ico-folder"></span>
    <% } else if (document.type === "document") { %>
        <span class="sg-ico-page sg-document-extension"><em><%= document.extension %></em></span>
    <% } else if (document.type === "image") { %>
        <span class="sg-document-image-container"><img src="<%= document.src %>" alt="<%= document.title %>"></span>
    <% } %>
</script>

<script type="text/template" id="document-form-template">
    <form>
        <label>$_("Title")</label>
        <input name="title" type="text" value="<%= document.title || t_("Untitled Folder") %>">
        <label>$_("Description")</label>
        <textarea name="description"><%= document.description || "" %></textarea>
        <div class="js-alert"></div>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>

<script type="text/template" id="document-attributes-template">
    <form>
        <% if (document.type === "image") { %>
            <div class="row">
                
            <div class="small-6 columns">
                <p>
                <img src ="<%= document.sizes.m %>" 
                       alt = "<%= document.title %>" 
                        class="arttibutesPreview" />
                </p>
                <p class="button-group">
                    <a class="button tiny secondary" href="<%= document.sizes.s %>" title="Resized to fit 400×400 px">Small</a> 
                    <a class="button tiny secondary" href="<%= document.sizes.m %>" title="Resized to fit 800×800 px">Medium</a>
                    <a class="button tiny secondary" href="<%= document.sizes.l %>" title="Resized to fit 1200×1200 px">Large</a>
                    <a class="button tiny secondary" href="<%= document.sizes.x %>" title="Resized to fit 1600×1600 px">Extra Large</a> 
                </p>
            </div>
            <div class="small-6 columns">
            <% } %>

                <label>$_("Title")</label>
                <input name="title" type="text" value="<%= document.title || t_("Untitled Folder") %>">
                <label>$_("Description")</label>
                <textarea name="description"><%= document.description || "" %></textarea>
                <p>
                    <label><input <%= document.is_published && "checked" || "" %> type="checkbox" name="is_published">$_("Show on site")</label>
                </p>
                
        <% if (document.type === "image") { %>
            </div> 
            </div>
        <% } %>
    <div class="row">
        <div class="columns clearfix">
            <div class="js-alert"></div>
            <p class="right">
                <button class="button" type="submit">$_("Save")</button>
                <button class="button secondary" type="reset">$_(u"×")</button>
            </p>
        </div>
    </div>
    </form>
</script>

<script type="text/template" id="document-preview-template">
    <div class="previewGallery">
        <% _.each(documents, function(image) { %>
            <% if (image.type === "image") { %>
            <a href="<%= image.sizes.m %>" 
                data-thumb = "<%= image.src %>" 
                data-full = "<%= image.sizes.l %>" 
                data-caption = "<%= image.title %>" 
                id="frame<%= image.id %>"></a>
            <% } %>
         <% }); %>
    </div>
</script>


<script type="text/template" id="document-copy-link-template">
    <label>$_("Copy link")</label>
    <input name="link" type="text" value="<%= document.src %>">
</script>
