$def with(block)
$# Categories block renders categories and subcategories
$ categories = [c for c in ctx.nav.children if c.type == "category"]
$if categories:
    <ul class="catalog-categories">
    $for category in categories:
        <li>
            <h3 class="okb-title-$category.slug"><a class="$page_unpublished_class(category)"
                   href="$category.path">$category.title</a></h3>
            $ subcategories = [c for c in category.get("pages", []) if c.type == "category"]
            $if subcategories:
                <nav class="catalog-subcategories-nav">
                    <ul>
                    $for subcategory in subcategories:
                        <li><a class="$page_unpublished_class(subcategory)"
                               href="$subcategory.path">$subcategory.title</a></li>
                    </ul>
                </nav>
            $:category.description_cached
        </li>
    </ul>
$else:
    <p>$_("Catalog is empty.")</p>
