<script type="text/template" id="block-attributes-template">
    <form>
        <label>$_("CSS class")</label>
        <input name="css_class" type="text" value="<%= block.css_class || "" %>">
        <p>
            <label><input <%= block.is_published && "checked" || "" %> type="checkbox" name="is_published">$_("Show on site")</label>
        </p>
        <div class="js-alert"></div>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="block-placeholder-template">
    <p>
        $_("This text is not written yet.")
        <strong>$_("Click to write the text.")</strong><br>
    </p>
    <p>
        $_("Do not worry, such placeholder texts are not visible on the public website until you edit them.")
    </p>
</script>
<script type="text/template" id="block-inserter-template">
    <div class="sg-block-inserter-menu">
        <a class="sg-block-inserter-item sg-ico-text js-create"
           data-template="content" data-type="wysiwyg" href="#"></a>
        <a class="sg-block-inserter-item sg-ico-image js-create"
           data-template="content" data-type="image" href="#"></a>
        <a class="sg-block-inserter-item sg-ico-cols-3 js-create"
           data-template="row" href="#"></a>
        <div class="sg-block-inserter-item">
            <span class="sg-ico-menu-list"></span>
            <ul class="sg-contextmenu">
                <li class="sg-contextmenu-item">
                    <a class="js-create" data-template="nav"
                       data-type="root" href="#" >$_("Navigation")</a>
                </li>
                <li class="sg-contextmenu-item">
                    <a class="js-create" data-template="content"
                       data-type="html" href="#" >$_("HTML code")</a>
                </li>
                <li class="sg-contextmenu-item">
                    <a class="js-paste" href="#" >$_("Paste")</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sg-block-inserter-line"></div>
</script>
<script type="text/template" id="block-form-template">
    <form>
        <p><textarea name="content"><%= block.content || "" %></textarea></p>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="block-nav-form-template">
    <form>
        <h3>$_("Select navigation type")</h3>
        <p>
            <select name="type">
            $for opt in config.nav_types:
                <option value="$opt"
                        <%= block.type === "$opt" ? "selected" : "" %>
                >
                    $_(config.labels[opt])
                </option>
            </select>
        </p>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="block-row-form-template">
    <form>
        <h3>$_("Insert columns")</h3>
        <p>
            <select class="js-size">
            <% _.each([1, 2, 3, 4, 5, 6], function(size){ %>
                <option value="<%= size %>"
                        <%= sizes.length === size ? "selected" : "" %>
                >
                    $_("Columns"): <%= size %>
                </option>
            <% }) %>
            </select>
        </p>
        <div class="sg-block-row js-columns">
        <% for(var i = 1; i <= 6; i++) { %>
            <div class="sg-block-column-<%= sizes[i-1] %> <%= (i > sizes.length) ? 'sg-hidden' : '' %>">
                <input name="sizes" value="<%= sizes[i-1] %>" >
            </div>
        <% } %>
        </div>
        <div class="js-alert"></div>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="block-image-form-template">
    <form>
        <div class="sg-documents-scroller">
            <ul class="sg-document-tiles js-documents"></ul>
        </div>
        <label>$_("Description")</label>
        <input name="description" type="text"
               value="<%= image.description || "" %>">
        <p>
            <label>
                <input name="show_description"
                       <%= image.show_description && "checked" || "" %>
                       type="checkbox" >$_("Show description")
            </label>
        </p>
        <p>
            <label>
                <input name="is_responsive"
                       <%= image.is_responsive && "checked" || "" %>
                       type="checkbox" >$_("Make responsive")
            </label>
        </p>
        <p>
            <button class="button" type="submit">$_("Save")</button>
            <button class="button" type="reset">$_("Cancel")</button>
        </p>
    </form>
</script>
<script type="text/template" id="block-image-template">
    <figure data-id="<%= image.id %>"
            data-parent_id="<%= image.parent_id %>"
            data-description="<%= image.description %>"
            data-show_description="<%= image.show_description %>"
            data-is_responsive="<%= image.is_responsive %>"
    >
        <% if (image.is_responsive) { %>
            <img class="responsive"
                 src="<%= image.sizes.s %>"
                 data-m_src="<%= image.sizes.m %>"
                 data-l_src="<%= image.sizes.l %>"
                 alt="<%= image.description %>">
        <% } else { %>
            <img src="<%= image.sizes.l %>"
                 alt="<%= image.description %>">
        <% } %>

        <% if (image.show_description) { %>
            <figcaption><%= image.description %></figcaption>
        <% } %>
    </figure>
</script>
