$def with(block)
$# Navigation block renders different kinds of navigations
$if ctx.nav.get(block.type):
    <nav class="nav-$block.type">
        <ul>
        $for p in ctx.nav.get(block.type):
            $if p.id == ctx.page.id:
                <li><span class="active $page_unpublished_class(p)">$p.name</span>
            $elif ctx.page.ids and p.id in ctx.page.ids:
                <li><a class="active $page_unpublished_class(p)" href="$p.path">$p.name</a>
            $else:
                <li><a class="$page_unpublished_class(p)" href="$p.path">$p.name</a>
        </ul>
    </nav>
