$tileWidth: 140;

.sg-document-storage {
  background-color: $greyBackgroundColor;
  min-height: ($tileWidth + 30) * 3+px;
}

.sg-documents-scroller {
  background-color: $greyBackgroundColor;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 17px;
}

.is-dropped { outline: 2px dashed green; }

.sg-storage-title p { padding-top: .75em;}

.sg-document-tiles {
  list-style: none;
  margin: 0;

  .sg-document, .sg-document-loader, .sg-document-back {
    @include user-select(none);
    display: inline-block;
    vertical-align: top;
    width: $tileWidth+px;
    padding: $tileWidth+px 0 0 0;
    margin: 10px;
    position: relative;
    @include box-shadow(rgba(#aaa, 0.4) 0 0 3px);
    background: #fff;
  }

  .sg-document, .sg-document-back {

    @include box-sizing(border-box);
    position: relative;

    &:hover {
      z-index: 3;
      @include box-shadow(rgba($primary-color, 0.4) 0 0 10px);
      .sg-ico-folder {
        @include text-shadow(rgba($primary-color, 0.4) 0 0  16px);
      }
      .sg-ico-arrow-l {
        color: $grey60;
      }
    };
    &.sg-selected {
      background: $blueBackgroundColor;
      &:hover {
        background: lighten($blueBackgroundColor, 2%)
      };
    }

    .sg-contextmenu-show {
      top: 100px;
      left: 10px;
    }
  }

  // folders and back button are inverted
  .sg-document-back, 
  .sg-document-back:hover, 
  .sg-document-folder,
  .sg-document-folder:hover {@include box-shadow(rgba(#FFF, 0.0) 0 0 0px);}
  .sg-document-back, 
  .sg-document-folder {
    background-color: $greyBackgroundColor;
    .sg-document-title {
      padding-left: 0; 
      border-top: 0px solid;
      font-weight: 600;
    }
    .sg-ico-folder {left:0;}
  }
  .sg-document-loader  {
    background: image-url("loader.gif") center center no-repeat;
  }

  .sg-document-image-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $tileWidth+px;
    height: $tileWidth+px;
    line-height: $tileWidth+px;
    background-color: #fafafa;
    img {
      vertical-align: bottom;
    }
  }

  .sg-document-extension {
    position: absolute;
    top: 80px;
    left: 90px;
    margin-top: -24px;
    margin-left: -24px;

    &:before {
      font-size: 48px;
      color: #808285;
    };

    em {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      line-height: 14px;
      height: 14px;
      top: -10px;
      left: -25px;
      color: #fff;
      background-color: #80c73a;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      padding: 0 2px;
    }
  }

  .sg-ico-arrow-l {
    position: absolute;
    top: 50px;
    width: 60px;
    text-align: center;
    left: 20px;
    font-size: 60px;
    color: $grey10;
  }

  .sg-ico-folder {
    position: absolute;
    top: 10px;
    color: white;
    left: 10px;
    font-size: 100px;
    line-height: 100px;
    height: $tileWidth+px;
    // overflow: hidden;
    &:before {
      vertical-align: -48px;
    };
  }

  .sg-document-title {
    display: inline-block;
    width:100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    @include user-select(text);
    font-size: 12px;
    word-break: break-all;
  }

}
