


.hint { 
  display: block;
  font-size: 10px; 
  color: $grey60;
}
.wrong {
  color: $wrong; 
  label, .hint { color: $wrong; }
  &.column, &.columns, &.col, &.cols {
    background-color: lighten($wrong, 40%);
  }
}
label { color: $grey80; }

// vertical positioning of labels, etc
.inline-oversize {
  line-height: 32px;
}
.inline {
  line-height: 22px;
}


.sg-errors {
  background: $wrong;
  color: $white;
  li {
    list-style-type: none;
    margin: 0;
  }
  padding: 12px 0;
  margin: 1.5em 0 1.5em 0;
  padding: 12px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $wrong;
    border-bottom: none;
    top: 100%;
  }
}


textarea {
    border: 1px solid $grey30;
    display: block;
    resize: vertical;
    margin: 0;
    width: 100%;
    @include box-sizing("border-box");
    &:focus {
      outline: none;
      border-color: $grey60;
    };
}

input {
    &[type=email], &[type=password], &[type=text], &[type=search]  {
        border: 1px solid $grey30;
                
        font-size: 12px;
        padding: 3px 5px 2px;
        line-height: 12px;
        
        &.oversize {
          font-size: 18px;
          line-height: 24px;
        }
        
        &:focus {
          outline: none;
          border-color: $grey60;
        };
        .wrong &{
          border-color: $wrong;
        }
    }
}
input[type=search] {
  background:  url('../img/chosen-sprite.png') no-repeat -38px -22px;
  padding-left: 15px;
  -webkit-appearance: none;
}

// Stretching inputs to take the whole width
input[type=email], input[type=password], input[type=text], input[type=search], select {
  .foundation &, .col > &, &.fullwidth {
    width: 100%;
    margin: 0;
    
    @include box-sizing("border-box");
  }
}

.sg-inline-dialog, .ui-dialog {
  .defaultSkin table.mceLayout {
    @include box-shadow(none);
    background: #fff!important;
    border: 1px solid $grey30!important;
  }

  .wrong .defaultSkin table.mceLayout {
    border: 1px solid $wrong!important;
  }
}




.foundation {
  @import "foundation/configurator";
  background-color: $bg-grey;
  .row, .columns, .column {
    @include box-sizing(border-box);
    .right {
      float: right;
      text-align: right;
    }
  }
  form {
    .columns, .column { padding: 5px!important; }
    .row { 
      .row { margin: 0 -5px!important; }
    }
  }
}


.padding-block {
    padding: 0 5px 0 160px;
    label {
        float: left;
        position: relative;
        width: 150px;
        line-height: 24px;
        text-align: right;
        margin-left: -160px;
        &:after { content: ":" }
        &.after, &.before {
            margin: 0;
            float: none;
            display: inline;
        }
        &.before { margin-right: 10px; }
        &.after:after { display: none }
    }
    &.dont-pad {padding-left:0;}
}

.small-padding-block {
    @extend .padding-block;
    padding: 0 20px 0 100px;
    label {
        width: 90px;
        margin-left: -100px;
    }
}