
.sg-file-input {
  position: relative;
  overflow: hidden; //otherwise messing with sorrounded buttons
  input {
    position: absolute;
    cursor: pointer;
    width: 400px;
    left: -200px; // move away the button to enable cursor
    top: 0;
    height: 100%;
    @include transparent;
  }
}



button[class*="sg-ico-"]:before {
  font-size: 16px;
}
