$default-border-radius: 4px;
$default-box-shadow-h-offset: 2px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 9px;
$default-box-shadow-spread: false;
$default-box-shadow-color: rgba(88, 88, 88, 0.6);

$grey05: darken(white, 5%);
$grey10: darken(white, 10%);
$grey30: darken(white, 30%);
$grey40: darken(white, 40%);
$grey60: darken(white, 60%);
$grey80: darken(white, 80%);

$greyBackgroundColor: $grey05;
$greenBackgroundColor: rgb(255, 255, 234);
$blueBackgroundColor: rgb(239, 250, 255);

$mobileTotalColumns: 3;
$headerFontFamily: 'Open Sans', sans-serif;
$headerFontWeight: 700;
$bodyFontFamily: $headerFontFamily;
$bodyFontWeight: 400;
$mainColor: #0082ff;
$txtColor: #000;
$bodyFontColor: $grey80;
$headerFontColor: $txtColor;
$navBarHeight: 40px;

@import 'compass/css3';
@import 'compass/css3/user-interface';
