@import "config";
@import "ui/ui.base";
@import "ui/ui.icons";
@import "ui/ui.notify";
@import "ui/ui.toolbar";
@import "ui/ui.contextmenu";
@import "ui/ui.documents";
@import "ui/sg.buttons";
@import "ui/sg.dialog";
@import "ui/sg.alphabet";
@import "ui/sg.address";
@import "ui/sg.photoframe";
@import "ui/sg.listing";
@import "ui/sg.datetime";


/*
*  Icon button without frame
*/
.ui-icon-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 0 20px 20px;
  text-decoration: none;
  color: $black;
  .ui-icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
  }
  &:hover {
    color: $black;
    & > .ui-icon, & > a > .ui-icon { background-image: url("../img/ui-icons_330066.png"); }
  }
}


/*
*  Main fixed menu
*/
.ui-fixed-menu {
  @extend .ui-corner-right;
  position: fixed;
  z-index: 100;
  left: -25px;
  width: 32px;
  top: 150px;
  font-size: 0;
  background: $bg-grey;
  @include transition-property(left);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
  &:hover { left: 0; };
}


/*
*  Insert content menu
*/
.ui-insert {
    position: absolute;
    width: 100%;
    margin-top: -5px;
    height: 10px;
    z-index: 1;
    .ui-insert-line {
        zoom: 1;
        overflow: hidden;
        margin-top: 5px;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    .ui-insert-menu {
        @include transition-property(opacity);
        @include transition-duration(0.5s);
        @include transition-delay(0.3s);
        @include transition-timing-function(ease-in-out);
        @include transparent;

        @extend .ui-corner-left;
        float: left;
        position: relative;
        left: -5px;
        top: -5px;
        z-index: 2;
        white-space: nowrap;
        height: 20px;
        padding: 0 5px;
        font: 12px/20px sans-serif;
        background: $grey60;
        &:before {
            content: "";
            display: block;
            height: 0;
            float: right;
            margin-right: -15px;
            border: 10px solid transparent;
            border-right: none;
            border-left-color: $grey60;
        }
        .ui-insert-menu-item {
             @extend .ui-contextmenu-item;
             display: inline-block;
            .ui-icon {
                cursor: pointer;
                display: block;
                background-image: image_url("ui-icons_ffffff.png");
            }
            &:hover {
                .ui-icon {
                    background-color: $grey80;
                }
            }

        }
        .ui-insert-default {
            float: left;
            padding: 0 5px;
            color: $white;
        }
    }
    &:hover {
        .ui-insert-menu {
            @include opaque;
        }
    }
}
.container {
    .ui-insert-line {
        border-bottom: 2px dashed $grey80;
    }
}
.container .container {
    .ui-insert-line {
        border-bottom-width: 1px;
    }
}
.container.is_template {
    .ui-insert-line {
        border-bottom-style: dotted;
    }
}


/*
*  Block edit
*/
.ui-block-edit {
  text-align: right;
}
.mceExternalToolbar {
  z-index: 100;
  @include box-shadow;
  background-color: $bg-grey!important;
  @extend .ui-corner-br;
  padding: 5px!important;
  position:fixed!important;
  top:0!important;
  left:0!important;
  .mceToolbar {
    border:none!important;
    background-color: $bg-grey!important;
  }
}
.defaultSkin table.mceLayout {
  @include box-shadow;
  &, tr.mceLast td, tr.mceFirst td {
    border:none!important;
  }
}

