@import "config";
@import "base/stone_icon_font";
@import "base/helpers";
@import "admin/ui";
@import "admin/form";
@import "admin/documents";
@import "admin/blocks"; // extends contextmenu from ui

.debug {
  @import "admin/debug";
}

.sg-hidden {
  display: none;
}

.sg-not-published {
  @include opacity(.5);
}

$navBarHeight: 45px !default;
.sg-top-bar-spacer {
  height: $navBarHeight;
}


.sg-ace {
  @include box-shadow;
  position: relative !important;
  width: 100%;
  height: 300px;
}

.mceExternalToolbar {
  z-index: 100;
  @include box-shadow;
  background-color: $bg-grey !important;
  padding: 5px!important;
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  .mceToolbar {
    border:none!important;
    background-color: $bg-grey !important;
  }
}
.defaultSkin table.mceLayout {
  @include box-shadow;
  &, tr.mceLast td, tr.mceFirst td {
    border:none!important;
  }
}
