@import "config";
@import "stone_icon_font";
@import "ui/sg.inserter";
@import "ui/sg.contextmenu";
@import "ui/sg.pagemenu";


.block {
  // Prevent collapsing margins
  padding-top: 1px;
  padding-bottom: 1px;
  // Allow context menu positioning
  position: relative;
}

.sg-block-highlight {
  @include box-shadow;
}
