@import "config";
@import "foundation_base";

header, footer {
  padding-top: 20px;
  background: #eee;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
}

.catalog-categories, .catalog-subcategories {
  list-style-type: none;
}

.catalog-products {
  margin-left: 20px;
  margin-bottom: 34px;
  list-style-type: disc;
}

.catalog-subcategories-nav > ul {
  margin-left: 0;
  margin-bottom: 17px;
  > li {
    display: inline;
    &:before {
      content: " • "
    };
    &:first-child:before {
      display: none
    }
  }
}

.nav-breadcrumbs ul {
  margin: 0;
  > li {
    display: inline;
    &:before {
      content: " → "
    };
    &:first-child:before {
      display: none
    }
  }
}
