<script type="text/template" id="modal-template">
    <a class="close-reveal-modal">&#215;</a>
    <div class="js-content"></div>
</script>
<script type="text/template" id="delete-modal-template">
    <h3><%= title %></h3>
    <p><%= message %></p>
    <p>
        <button class="button js-ok">$_("Delete")</button>
        <button class="button js-cancel">$_("Cancel")</button>
    </p>
</script>
<script type="text/template" id="alert-template">
    <div class="alert-box alert">
        <% _.each(errors, function(error){ %>
            <%= error.note %>.
        <% }); %>
    </div>
</script>
