$if auth.get_user():
    <script type="text/template" id="modal-template">
        <a class="close-reveal-modal">&#215;</a>
        <div class="js-content"></div>
    </script>
    <script type="text/template" id="block-delete-template">
        <h3>$_("Delete this block?")</h3>
        <p>$_("It will also delete all the nested blocks.")</p>
        <p>
            <button class="button js-ok">$_("Delete")</button>
            <button class="button js-cancel">$_("Cancel")</button>
        </p>
    </script>
    <script type="text/template" id="block-placeholder-template">
        <p>
            $_("This text is not written yet.")
            <strong>$_("Click to write the text.")</strong><br>
        </p>
        <p>
            $_("Do not worry, such placeholder texts are not visible on the public website until you edit them.")
        </p>
    </script>
    <script type="text/template" id="block-inserter-template">
        <div class="sg-block-inserter-menu">
            <a class="sg-block-inserter-item sg-ico-text js-create"
               data-template="content" data-type="wysiwyg" href="#"></a>
            <a class="sg-block-inserter-item sg-ico-cols-3 js-create"
               data-template="row" href="#"></a>
            <div class="sg-block-inserter-item">
                <span class="sg-ico-menu-list"></span>
                <ul class="sg-contextmenu">
                    <li class="sg-contextmenu-item">
                        <a class="js-create" data-template="nav"
                           data-type="root" href="#" >$_("Navigation")</a>
                    </li>
                    <li class="sg-contextmenu-item">
                        <a class="js-create" data-template="content"
                           data-type="html" href="#" >$_("HTML code")</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sg-block-inserter-line"></div>
    </script>
    <script type="text/template" id="block-form-template">
        <form>
            <p><textarea name="content"><%= block.content || "" %></textarea></p>
            <p>
                <button class="button" type="submit">$_("Save")</button>
                <button class="button" type="reset">$_("Cancel")</button>
            </p>
        </form>
    </script>
    <script type="text/template" id="block-nav-form-template">
        <form>
            <h3>$_("Select navigation type")</h3>
            <p>
                <select name="type">
                $for opt in config.nav_types:
                    <option value="$opt"
                            <%= block.type === "$opt" ? "selected" : "" %>
                    >
                        $_(config.labels[opt])
                    </option>
                </select>
            </p>
            <p>
                <button class="button" type="submit">$_("Save")</button>
                <button class="button" type="reset">$_("Cancel")</button>
            </p>
        </form>
    </script>
    <script type="text/template" id="block-row-form-template">
        <form>
            <h3>$_("Insert columns")</h3>
            <p>
                <select class="js-size">
                <% _.each([2,3,4,5,6], function(size){ %>
                    <option value="<%= size %>"
                            <%= sizes.length === size ? "selected" : "" %>
                    >
                        $_("Columns"): <%= size %>
                    </option>
                <% }) %>
                </select>
            </p>
            <div class="sg-block-row js-columns">
            <% for(var i=1; i<=6; i++) { %>
                <div class="sg-block-column-<%= sizes[i-1] %> <%= (i > sizes.length) ? 'sg-hidden' : '' %>">
                    <input name="sizes" value="<%= sizes[i-1] %>" >
                </div>
            <% } %>
            </div>
            <p>
                <button class="button" type="submit">$_("Save")</button>
                <button class="button" type="reset">$_("Cancel")</button>
            </p>
        </form>
    </script>
