$row-color: $grey40;

.sg-block-row {
  margin-bottom: 17px;
  display: table;
}

%sg-block-col {
  display: table-cell;
  @include box-sizing(border-box);
  padding: 0 2px;
  input {
    display: block;
    @include box-sizing(border-box);
    width: 100%;
    border: 1px solid $grey40;
  }
  &:before {
    content: "";
    display: block;
    height: 55px;
    @include background(
      linear-gradient(
        $row-color 0, $row-color 10px,
        #fff 10px, #fff 15px,
        $row-color 15px, $row-color 20px,
        #fff 20px, #fff 25px,
        $row-color 25px, $row-color 30px,
        #fff 30px, #fff 35px,
        $row-color 35px, $row-color 40px,
        #fff 40px, #fff 45px,
        $row-color 45px, $row-color 50px,
        #fff 50px
      )
    );
  };
}

@for $i from 1 through 12 {
  .sg-block-col-#{$i} {
    width: 100% * $i / 12;
    @extend %sg-block-col;
  }
}
