


.sg-datepicker-time  {
  white-space: nowrap;
  font-size: 0;
  > select {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 45%;
    height: 32px;
  }
}

.sg-datepicker-dots {
  display: inline-block;
  width: 10%;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}


/*! jQuery UI - v1.10.0 - 2013-02-07
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=%23444444&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=%23444444&fcHeader=%23ffffff&iconColorHeader=%23ffffff&bgColorContent=%23eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=%23dddddd&fcContent=%23333333&iconColorContent=%23222222&bgColorDefault=%23f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=%23cccccc&fcDefault=%230082ff&iconColorDefault=%23555555&bgColorHover=%23666&bgTextureHover=glass&bgImgOpacityHover=0&borderColorHover=%23333&fcHover=%23eee&iconColorHover=%23eee&bgColorActive=%23333&bgTextureActive=glass&bgImgOpacityActive=0&borderColorActive=%23333&fcActive=%23fff&iconColorActive=%23fff&bgColorHighlight=%230082ff&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=%230082ff&fcHighlight=%23fff&iconColorHighlight=%23fff&bgColorError=%23b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=%23cd0a0a&fcError=%23ffffff&iconColorError=%23ffd27a&bgColorOverlay=%23666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=%23000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px&tr%26ffDefault=Helvetica%2CArial%2Csans-serif
* Copyright (c) 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  min-height: 0;
  /* support: IE7 */
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity = 0);
}

.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/

.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */

.ui-icon {

  overflow: hidden;
  background-repeat: no-repeat;
  @extend %sg-ico;
}

.ui-icon-circle-triangle-e:before {content: "\e01e";}
.ui-icon-circle-triangle-w:before {content: "\e027";}

/* Misc visuals
----------------------------------*/

/* Overlays */

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  @include box-shadow;
  .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
  }

  .ui-datepicker-prev {
    left: 2px;
  }
  .ui-datepicker-next {
    right: 2px;
  }

  .ui-datepicker-prev span, .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
  }
  .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    select {
      font-size: 1em;
      margin: 1px 0;
    }
  }
  select {
    &.ui-datepicker-month-year {
      width: 100%;
    }
    &.ui-datepicker-month, &.ui-datepicker-year {
      width: 49%;
    }
  }
  table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
  }
  th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  tbody {
    border: 0;
  }
  td {
    border: 0;
    padding: 1px;
    span, a {
      display: block;
      padding: .2em;
      text-align: right;
      text-decoration: none;
    }
  }
  .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    button {
      float: right;
      margin: .5em .2em .4em;
      cursor: pointer;
      padding: .2em .6em .3em .6em;
      width: auto;
      overflow: visible;
      &.ui-datepicker-current {
        float: left;
      }
    }
  }
  &.ui-datepicker-multi {
    width: auto;
  }
}

/* with multiple calendars */

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
  table {
    width: 95%;
    margin: 0 auto .4em;
  }
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi {
  .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */

.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-prev {
    right: 2px;
    left: auto;
  }
  .ui-datepicker-next {
    left: 2px;
    right: auto;
  }
  .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
  }
  .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
  }
  .ui-datepicker-buttonpane {
    clear: right;
    button {
      float: left;
      &.ui-datepicker-current {
        float: right;
      }
    }
  }
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
}

/* Component containers
----------------------------------*/

.ui-widget {
  //font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  //font-size: 1.1em;
  //.ui-widget {
  //  font-size: 1em;
  //}
  //input, select, textarea, button {
  //  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  //  font-size: 1em;
  //}
}

.ui-widget-content {
  //border: 1px solid #dddddd;
  //background: #eeeeee;
  background: #fff;
  color: #333333;
  a {
    color: #333333;
  }
}

.ui-widget-header {
  //border: 1px solid #444444;
  background: #444444;
  color: #ffffff;
  font-weight: bold;
  a {
    color: #ffffff;
  }
}

/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  //border: 1px solid #cccccc;
  //background: #f6f6f6;
  font-weight: bold;
  color: #0082ff;
}

.ui-state-default a {
  color: #0082ff;
  text-decoration: none;
  &:link, &:visited {
    color: #0082ff;
    text-decoration: none;
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  //border: 1px solid #333;
  background: #666666;
  font-weight: bold;
  color: #eee;
}

.ui-state-hover a {
  color: #eee;
  text-decoration: none;
  &:hover, &:link, &:visited {
    color: #eee;
    text-decoration: none;
  }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  //border: 1px solid #333;
  background: #333333;
  font-weight: bold;
  color: #fff;
}

.ui-state-active a {
  color: #fff;
  text-decoration: none;
  &:link, &:visited {
    color: #fff;
    text-decoration: none;
  }
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  //border: 1px solid #0082ff;
  background: #0082ff;
  color: #fff;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #fff;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  //border: 1px solid #cd0a0a;
  background: #b81900;
  color: #ffffff;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #ffffff;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity = 70);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity = 35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity = 35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */

.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-widget-content .ui-icon {
}

.ui-widget-header .ui-icon {
}

.ui-state-default .ui-icon {
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
}

.ui-state-active .ui-icon, .ui-state-highlight .ui-icon {
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
}


/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}

/* Overlays */

.ui-widget-overlay {
  background: #666666;
  opacity: .5;
  filter: Alpha(Opacity = 50);
}

.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: black;
  opacity: .2;
  filter: Alpha(Opacity = 20);
  border-radius: 5px;
}
