
.sg-inline-dialog {
  padding: 15px 20px 5px;
  margin-bottom: 20px;
  background: $bg-grey;
  @include border-radius(0 0 4px 4px);
  
  @include box-sizing(border-box);
  @include box-shadow(0 3px 3px rgba(0,0,0,.2));
  
  position:relative;
  &:before{
    content:"";
    display:block;
    position: absolute;
    top:0;
    left: -15px;
    right: -15px;
    @include box-shadow(0 3px 6px 3px rgba(0,0,0,.3));
  };
  &:after{
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    right: -25px;
    top: -5px;
    height: 10px;
    background: #fff;
  }
  p {
    margin: 10px 0;
  }
}


