.sg-photoframe {
    @include box-shadow;
    padding: 10px 10px 10px;
    margin: 12px 20px 10px  0;
    background: $white;
    img {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    max-width: 140px;
    float: right;
    form & {
      margin: 12px 10px 0 0;
      float: none;
    }
    text-align: center;
}