
.sg-button {
  border: 1px solid lighten(black, 80);
  background: transparent;
  @include border-radius(4px);
  @include box-sizing(border-box);  
  color: lighten(black, 40);
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  line-height: 22px;
  height: 22px;
  font-size: 12px;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  .ui-icon {
    display: inline-block;
    vertical-align: top;
  }
  &:hover, &:active, &.active {
    color: lighten(black, 10);
    border-color: lighten(black, 60);
    .ui-icon {
      background-image: url("../img/ui-icons_330066.png");
    }
  };
  &.borderless {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

/* AKA borderless button */
.sg-button-group {
  line-height: 18px;
  .sg-button {
    margin-right: 20px;
    &:last-child { margin-right: 0; };
  }
}

.sg-inline-icon {
  display: inline-block;
  vertical-align: text-bottom;
}