

.sg-filter-form {
  @include box-sizing(border-box);
  margin: 0 0 15px 0;
  
  p,ul {margin:0;}
  
  &.affix {
    position: fixed;
    left: 0;
    width: 100%;
    top: 44px;
    z-index: 2;
    background: #fff;
    padding: 5px 20px 5px;
    @include box-shadow;
  }
  
  .sg-alphabet{
    float: left;
    li {
      display: inline;
      &.active a{
        color: $grey80;
      }
    }
    a{
      margin-left: .7em;
      text-decoration: none; 
      font-size: 14px;
      color: $bg-grey;

    }
  }

  .sg-nowrap {
    float: left;
    white-space: nowrap;
  }
  
}


.sg-filter-results {
  clear: both;
  margin-top: -12px!important;
  &.load {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      margin-right: 5px;
      background: url("../img/loader.gif") no-repeat!important;
      width: 20px;
      height: 20px;
    };
  }
}
