.ui-notify { 
    width: 260px; 
    position: fixed; 
    top: 10px; 
    right: 20px; 
    z-index: 1003;
}
.ui-notify-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    .ui-icon {
        background-image: image_url("ui-icons_666666.png");
    }
    &:hover {
        .ui-icon {
            background-image: image_url("ui-icons_330066.png");
        }
    }
}

.ui-notify-message { 
    padding: 1px 20px 1px 45px;
    margin-bottom: 15px;
    @include border-radius;
    @include box-shadow;
    position: relative;
}
.ui-notify-message h1 {
    font-weight: bold;
}
.ui-notify-icon {
    position: absolute;
    left: 15px;
    top: 10px;
}

